/* Debug */

main {
    background-color: #ABCFE7
}

main>header {
    height: 50px
}

#left,
#right {
    height: 300px;
}

#middle {
    height: 300px;
}

footer {
    height: 50px;
    background-color: #8801FE;
}


/* /Debug */


/* Common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #868686;
}

.container {
    width: 80%;
    padding: 30px 0;
    margin: auto;
}

.br-15px {
    border-radius: 15px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}


/* Header */

img[src*="logo"] {
    width: 16%;
    padding-right: 15px;
    border-right: 1px solid #E5E5E5;
}

nav li {
    display: inline-block;
    margin-top: 2%;
    font-size: 22px;
    list-style: none;
}

nav li>a {
    padding: 20px 20px 20px 0;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}


/* Riquadro immagine principale */

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#main-img {
    margin: 20px 0;
    background: url(../img/banner.jpg) center;
    color: white;
}

#main-description {
    width: 55%;
    padding: 17% 0 5%;
    margin-left: 5%;
    font-size: 30px;
}

.description {
    width: 90%;
    line-height: 1.5em;
    font-size: 16px;
}


/* /Riquadro immagine principale */


/* Main */

main>aside,
main>section {
    float: left;
}

#left,
#right {
    width: 20%;
}

#left {
    border-width: 10px 5px;
    border-color: #0187FC;
    border-style: solid;
    border-left: 0;
}

#middle {
    width: 60%;
    border-width: 10px 5px;
    border-color: #0187FC;
    border-style: solid;
}

#right {
    border-width: 10px 5px;
    border-color: #0187FC;
    border-style: solid;
    border-right: 0;
}


/* Footer */

footer {
    margin-top: 15px;
}